@import 'reset.css';
@import 'variables.css';

/* Components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';

/* Screens */
@import 'screens/login.css';
@import 'screens/friends.css';

body {
    font-family: 'Open Sans', sans-serif;
    height: 2000px;
    color: #2e363e;
}
