@import 'reset.css';
@import 'variables.css';

/* Components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';
@import 'components/badge.css';
@import 'components/icon-row.css';
@import 'components/alt-screen-header.css';

/* Screens */
@import 'screens/login.css';
@import 'screens/friends.css';
@import 'screens/find.css';
@import 'screens/more.css';
@import 'screens/settings.css';

body {
    font-family: 'Open Sans', sans-serif;
    height: 2000px;
    color: #2e363e;
}


.main__screen {
    padding: 0 var(--horizontal-space);
}